<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:config.properties"/>
    <!-- ===================================================↓ 主服务 ↓================================================= -->
    <bean id="ServerSupoort" class="com.et.terminalserver.common.server.ServerSupport">
        <property name="mainServer" ref="mainserver"></property>
    </bean>
    <bean id="mainserver" class="com.et.terminalserver.terminalaccess.main.TerminalAccessServer" >
        <property name="nettyServer" ref="nettyServer"></property>
        <property name="busListeners">
            <map>
                <entry key="nettyWriter" value-ref="NettyWriterListener"></entry>
                <entry key="business" value-ref="BusinessListener"></entry>
                <entry key="webreceive" value-ref="WebReceiveListener"></entry>
                <entry key="decoder" value-ref="DecoderListener"></entry>
                <entry key="encoder" value-ref="EncoderListener"></entry>
                <entry key="protoload" value-ref="ProtoLoaderListener"></entry>
                <!--<entry key="push2web" value-rWebReceiveListenerener"></entry>-->
                <!--<entry key="push2hbase" value-ref="PushHBaseListener"></entry>-->
                <!--<entry key="terminalResponse" value-ref="ResponseListener"></entry>-->
            </map>
        </property>
    </bean>
    <bean id="nettyServer" class="com.et.terminalserver.common.netty.NettyServer">
        <property name="port" value="6000"></property>
        <property name="workerThreads" value="8"></property>
        <property name="channelInitializer" ref="terminalChannelIniter"></property>
    </bean>
    <bean id="terminalChannelIniter" class="com.et.terminalserver.terminalaccess.netty.TerminalChannelIniter">
        <property name="nettyHandler" ref="nettyHandler"></property>
    </bean>
    <bean id="nettyHandler" class="com.et.terminalserver.terminalaccess.netty.NettyHandler"></bean>

    <!-- ===================================================↓ 各个监听通道 ↓================================================= -->
    <!--socket写数据-->
     <bean id="NettyWriterListener" class="com.et.terminalserver.terminalaccess.netty.NettyWriterListener">
         <property name="nettyWriter" ref="nettyHandler"></property>
     </bean>
    <!--业务-->
    <bean id="BusinessListener" class="com.et.terminalserver.terminalaccess.business.BusinessListener">
        <property name="business" ref="BusinessHandler" />
    </bean>
    <bean id="WebReceiveListener" class="com.et.terminalserver.terminalaccess.web.pushgps.WebReceiveListener">
        <property name="webReceiveHandler" ref="WebReceiveHandler"></property>
    </bean>
    <!--解码-->
    <bean id="DecoderListener" class="com.et.terminalserver.terminalaccess.decode.DecoderListener">
        <property name="decoder" ref="Decoder"></property>
    </bean>
    <bean id="Decoder" class="com.et.terminalserver.terminalaccess.decode.Decoder">
    </bean>
   <!--编码-->
    <bean id="EncoderListener" class="com.et.terminalserver.terminalaccess.encode.EncoderListener">
        <property name="encoder" ref="Encoder"></property>
    </bean>
    <bean id="Encoder" class="com.et.terminalserver.terminalaccess.encode.Encoder"></bean>
    <!--协议加载-->
    <bean id="ProtoLoaderListener" class="com.et.terminalserver.terminalaccess.protoloader.ProtoLoaderListener">
        <property name="protoLoader" ref="ProtoLoader" />
    </bean>
     <!--&lt;!&ndash;gps推送到redis，这里需要改一下&ndash;&gt;-->
    <!--<bean WebReceiveListenerener" clacom.et.terminalserver.terminalaccess.web.pushgps.WebReceiveListenerReceiveListenerener"></bean>-->
     <!--&lt;!&ndash;推送数据到hbase中，这里也需要改一下&ndash;&gt;-->
<!--<bean id="PushHBaseListener" class="com.et.terminalserver.terminalaccess.hbase.PushHBaseListener"></bean>-->
    <!--&lt;!&ndash;终端响应&ndash;&gt;-->
    <!--<bean id="ResponseListener" class="com.et.terminalserver.terminalaccess.web.response.ResponseListener"></bean>-->

    <!-- ===================================================↓ 各个监听的依赖 ↓================================================= -->
<bean id="ProtoLoader" class="com.et.terminalserver.terminalaccess.protoloader.ProtocolLoader" init-method="init">
<property name="resource" value="classpath:protocolConfig.xml"></property>
</bean>
    <!--数据库加载基础信息-->
    <bean id="BaseInfoHandler" class="com.et.terminalserver.terminalaccess.baseinfo.BaseInfoHandler" init-method="init">
    <property name="pool" ref="JDBCPool"></property>
    </bean>
         <bean id="JDBCPool" class="com.et.terminalserver.common.datastore.DBCPPoolManager" init-method="init">
             <property name="driver" value="${jdbc.driverClassName}"></property>
             <property name="url" value="${jdbc.url}"></property>
             <property name="name" value="${jdbc.username}"></property>
             <property name="password" value="${jdbc.password}"></property>
         </bean>
    <bean id="WebReceiveHandler" class="com.et.terminalserver.terminalaccess.web.pushgps.WebreceiveHandler"></bean>

    <bean id="BusinessHandler" class="com.et.terminalserver.terminalaccess.business.BusinessHandler">
        <!--<property name="alarm" ref="AlarmComputeHandler" />-->
        <property name="baseinfo" ref="BaseInfoHandler" />
        <property name="gis" ref="GisComputeClient" />
    </bean>
<!--<bean id="AlarmComputeHandler" class="com.et.terminalserver.terminalaccess.alarm.AlarmComputeHandler">-->
<!--</bean>-->
    <bean id="GisComputeClient" class="com.et.terminalserver.client.gis.GisComputeClient"></bean>
</beans>